.spojnice-wrap {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.kolona {
  height: 60%;
  width: 400px;
}

.red {
  height: calc(10% - 6px);
  border: 2px solid black;
  margin-bottom: 2px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.red-active {
  background-color: rgba(64, 202, 223, 0.607);
}
