@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
}
body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #202020;
  display: flex;
  justify-content: center;
}

.main {
  width: 80vw;
  height: 80vh;
  border: 5px solid rgb(15, 15, 15);
}

.main-start {
  background-image: url(../6136231_slagalica-logojpg.jpg);
  background-position: center;
  background-size: cover;
}

.btn {
  background-color: #f7f7f7;
  width: 150px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 5px solid rgb(15, 15, 15);
  user-select: none;

  transition: transform;
  transition-timing-function: ease;
  transition-duration: 400ms;

  cursor: pointer;
}

.btn:hover {
  transform: scale(1.04);
}

.btn:active {
  transform: scale(0.95);
}

.btn-prev {
  background-color: rgb(165, 76, 76);
}

.btn-next {
  background-color: rgb(111, 194, 111);
}

.nav-btn-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.counter {
  color: white;
}
